<%- partial('partials/nav') %>
<div class="container" style="padding-top: 70px">
  <div class="row">
    <div class="blog-main">

		<div class="blog-post">			
			<%- partial('partials/sidebar') %>
			
			<%- page.content %>

			<%- partial('partials/timeline') %>
		</div>
    </div>
  </div>

</div>
<%- partial('partials/footer') %> 
