<section>
	<%- partial('partials/nav') %>
</section>

<section class="content-section video-section">
	<video muted loop autoplay class="video" id="backgroundVideo">
		<source src="https://jed.bz/video/cora.mp4" type="video/mp4">
		<source src="https://jed.bz/video/cora.webm" type="video/webm">
		<source src="https://jed.bz/video/cora.ogv" type="video/ogg">
	</video>
	<canvas class="canvas" id="canvas" style="display: none"></canvas>
	<div class="flex-center">
		<p class="overlay">
			My name is Jed Lippold.
			<br />
			I'm a father, developer, teacher
			<br />
			and entrepreneur.
			<div class="read-more">
				<a href="/about" class="btn btn-white btn-lg">Read more</a>
			</div>	
		</p>
	</div>
</section>

<section class="content-section work-section">
	<h1>Recent Work</h1>

	<div class="row" style="padding: 20px;">

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		    <div class="hovereffect">
		        <img class="img-responsive" src="/pub/blog/img/skedula.png" alt="">
		        <div class="overlay">
					<a class="info" href="/apps/datacation.html">
						<div class="linktext">
							Skedula
						</div>
					</a>
				</div>
		    </div>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		    <div class="hovereffect">
		        <img class="img-responsive" src="/pub/blog/img/dtv.png" alt="">
		        <div class="overlay">
					<a class="info" href="/apps/coco.html">
						<div class="linktext">
							Coco
						</div>
					</a>
				</div>
		    </div>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		    <div class="hovereffect">
		        <img class="img-responsive" src="/pub/blog/img/gesturePad.jpg" alt="">
		        <div class="overlay">
					<a class="info" href="/apps/gesturePad.html">
						<div class="linktext">
							gesturePad
						</div>
					</a>
				</div>
		    </div>
		</div>

	</div>
	
	<div class="read-more">
		<a href="/apps" class="btn btn-white btn-lg">Other apps</a>
	</div>
</section>

<section class="content-section blog-section">
  <h1>Blog Posts</h1>
  <div class='row'>
  	<ul class="blog-posts">
	 	<% page.posts.each(function(post, idx){ %>
	 		<% if (idx < 3) { %>
				<li>
					<div class="post-date">
						<p>
							<%=full_date(post.date, 'DD')%>
							<span><%=full_date(post.date, 'MMM')%></span>
						</p>
					</div>
					<div class="post-content">
						<h2>
							<a href="<%- url_for(post.path) %>">
								<%= post.title %>
							</a>
						</h2>
						<p>
							<%- post.excerpt %>
						</p>
					</div>
				</li>
			<% }%>
		<% }) %>
  	</ul>
  </div>
	<div class="read-more">
		<a href="/blog" class="btn btn-black btn-lg">More thoughts</a>
	</div>
</section>

<section class="content-section footer-section">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
			<p>&copy; 
				<%= full_date(new Date(), 'YYYY') %> 
				Jed Lippold 
			</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			<a title="github" target="_blank" href="https://github.com/jlippold"> 
				<i class="icon icon-github-circled"></i>
			</a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			<a title="linkedin" target="_blank" href="https://www.linkedin.com/in/jedlippold">
          		<i class="icon icon-linkedin"></i>
            </a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			<a title="twitter" target="_blank" href="https://twitter.com/treason">
                <i class="icon icon-twitter"></i>
            </a>
		</div>
	</div>
</section>

<script type="text/javascript" src="/pub/blog/canvas-video-player.js" ></script>

<script>
	document.addEventListener("DOMContentLoaded", function(event) { 
		document.querySelectorAll(".navHome")[0].className = "active";
		var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
		if (isIOS) {
		    // Init CanvasVideoPlayer here
		    document.getElementById("canvas").style.display = "block";
		    new CanvasVideoPlayer({
		        videoSelector: '.video',
		        canvasSelector: '.canvas',
		        timelineSelector: false,
		        framesPerSecond: 29,
		        audio: false,
		        resetOnLastFrame: true,
		        autoplay: true,
		        loop: true,
		        pauseOnClick: false,
		        audio: false
		    });
		}
	});



</script>

